* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 0;
}

.logo {
  width: 40px;
  margin-left: 20px;
}

.gnbList {
  width: 300px;
  justify-content: space-between;
  display: flex;
  margin-right: 50px;
}

.gnbItem a {
  color: #fff;
  transition: all 300ms ease-in-out;
}

.gnbItem a:hover {
  color: skyblue;
  text-decoration: underline;
}

.bodyWrapper img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.frontBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  color: #fff;
}

.frontBox h1 {
  font-size: 36px;
}

.frontBox p {
  font-size: 24px;
  margin-top: 30px;
}

.frontBtn {
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
  font-weight: 700;
  border: none;
}

.top {
  width: 500px;
  margin: 0 auto;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(58, 57, 57);
  margin-top: -20px;
}

.top p {
  font-size: 13px;
  margin-top: 20px;
}

.postBox {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  margin-top: 80px;
}

.postCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 300px;
  color: #fff;
  background-color: #000;
  box-shadow: 5px 5px 5px rgba(107, 107, 107, 0.342);
  border-radius: 20px;
  padding: 20px;
  margin-right: 30px;
}

.postCard:last-child {
  margin-right: 0;
}

.postCard:first-child {
  margin-left: 50;
}

.postBoxTxt {
  margin-top: 30px;
}

.global-footer {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  margin-top: 80px;
}

.footerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #333;
  padding: 20px;
  margin-top: 120px;
}

.footerWrapper h3,
a {
  color: #fff;
}

.footer-list {
  display: flex;
}

.footer-item {
  margin-right: 20px;
  transition: all 300ms ease-in-out;
}

.footer-item a {
  transition: all 300ms ease-in-out;
}

.footer-item a:hover {
  color: skyblue;
}

.footer-item:last-child {
  margin: 0;
}
